<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sms.infrastructure.datasource.sales.SalesCustomMapper">
    
    <!-- BaseResultMap -->
    <resultMap
            id="BaseResultMap"
            type="com.example.sms.infrastructure.datasource.sales.SalesCustomEntity"
            extends="com.example.sms.infrastructure.datasource.autogen.mapper.売上データMapper.BaseResultMap">
        <association property="部門マスタ"
                     javaType="com.example.sms.infrastructure.datasource.master.department.DepartmentCustomEntity"
                     column="{部門コード=部門コード, 開始日=部門開始日}"
                     select="com.example.sms.infrastructure.datasource.master.department.DepartmentCustomMapper.selectByPrimaryKey"
                     fetchType="eager" />
        <association property="社員マスタ"
                     javaType="com.example.sms.infrastructure.datasource.master.employee.EmployeeCustomEntity"
                     column="社員コード"
                     select="com.example.sms.infrastructure.datasource.master.employee.EmployeeCustomMapper.selectByPrimaryKey"
                     fetchType="eager" />
        <collection property="売上データ明細"
                    javaType="ArrayList"
                    column="売上番号"
                    select="com.example.sms.infrastructure.datasource.sales.sales_line.SalesLineCustomMapper.selectBySalesNumber"
                    fetchType="eager"
        />
    </resultMap>

    <!-- selectByPrimaryKey -->
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select 
        <include refid="com.example.sms.infrastructure.datasource.autogen.mapper.売上データMapper.Base_Column_List" />
        from public.売上データ
        where 売上番号 = #{売上番号,jdbcType=VARCHAR}
    </select>

    <!-- selectAll -->
    <select id="selectAll" resultMap="BaseResultMap">
        select 
        <include refid="com.example.sms.infrastructure.datasource.autogen.mapper.売上データMapper.Base_Column_List" />
        from public.売上データ
    </select>

    <!-- insertForOptimisticLock -->
    <insert id="insertForOptimisticLock" parameterType="com.example.sms.infrastructure.datasource.autogen.model.売上データ">
        insert into public.売上データ (売上番号, 受注番号, 売上日, 売上区分, 部門コード, 部門開始日, 
                                     取引先コード, 社員コード, 売上金額合計, 消費税合計, 備考, 赤黒伝票番号, 元伝票番号, 
                                     作成日時, 作成者名, 更新日時, 更新者名)
        values (#{売上番号,jdbcType=VARCHAR}, #{受注番号,jdbcType=VARCHAR}, #{売上日,jdbcType=TIMESTAMP}, #{売上区分,jdbcType=INTEGER}, 
                #{部門コード,jdbcType=VARCHAR}, #{部門開始日,jdbcType=TIMESTAMP}, #{取引先コード,jdbcType=VARCHAR}, 
                #{社員コード,jdbcType=VARCHAR}, #{売上金額合計,jdbcType=INTEGER}, #{消費税合計,jdbcType=INTEGER}, 
                #{備考,jdbcType=VARCHAR}, #{赤黒伝票番号,jdbcType=INTEGER}, #{元伝票番号,jdbcType=VARCHAR}, 
                #{作成日時,jdbcType=TIMESTAMP}, #{作成者名,jdbcType=VARCHAR}, #{更新日時,jdbcType=TIMESTAMP}, 
                #{更新者名,jdbcType=VARCHAR})
    </insert>

    <!-- updateByPrimaryKeyForOptimisticLock -->
    <update id="updateByPrimaryKeyForOptimisticLock" parameterType="com.example.sms.infrastructure.datasource.autogen.model.売上データ">
        update public.売上データ
        set 受注番号 = #{受注番号,jdbcType=VARCHAR},
            売上日 = #{売上日,jdbcType=TIMESTAMP},
            売上区分 = #{売上区分,jdbcType=INTEGER},
            部門コード = #{部門コード,jdbcType=VARCHAR},
            部門開始日 = #{部門開始日,jdbcType=TIMESTAMP},
            取引先コード = #{取引先コード,jdbcType=VARCHAR},
            社員コード = #{社員コード,jdbcType=VARCHAR},
            売上金額合計 = #{売上金額合計,jdbcType=INTEGER},
            消費税合計 = #{消費税合計,jdbcType=INTEGER},
            備考 = #{備考,jdbcType=VARCHAR},
            赤黒伝票番号 = #{赤黒伝票番号,jdbcType=INTEGER},
            元伝票番号 = #{元伝票番号,jdbcType=VARCHAR},
            作成日時 = #{作成日時,jdbcType=TIMESTAMP},
            作成者名 = #{作成者名,jdbcType=VARCHAR},
            更新日時 = #{更新日時,jdbcType=TIMESTAMP},
            更新者名 = #{更新者名,jdbcType=VARCHAR},
            version = #{version,jdbcType=INTEGER} + 1
        where 売上番号 = #{売上番号,jdbcType=VARCHAR}
        and version = #{version,jdbcType=INTEGER}
    </update>

    <!-- selectByCriteria -->
    <select id="selectByCriteria" resultMap="BaseResultMap">
        select 
        <include refid="com.example.sms.infrastructure.datasource.autogen.mapper.売上データMapper.Base_Column_List" />
        from public.売上データ
        <where>
            <if test="salesNumber != null">
                売上番号 = #{salesNumber,jdbcType=VARCHAR}
            </if>
            <if test="orderNumber != null">
                and 受注番号 = #{orderNumber,jdbcType=VARCHAR}
            </if>
            <if test="salesDate != null">
                and 売上日 = #{salesDate,jdbcType=TIMESTAMP}
            </if>
            <if test="departmentCode != null">
                and 部門コード = #{departmentCode,jdbcType=VARCHAR}
            </if>
            <if test="remarks != null">
                and 備考 like '%' || #{remarks,jdbcType=VARCHAR} || '%'
            </if>
        </where>
    </select>
</mapper>