# Auto detect text files and perform LF normalization
* text=auto

# Unix shell scripts should use LF
*.sh text eol=lf
gradlew text eol=lf

# Windows batch files should use CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
