<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sms.infrastructure.datasource.procurement.order.PurchaseOrderLineCustomMapper">
  <resultMap
          id="BaseResultMap"
          type="com.example.sms.infrastructure.datasource.procurement.order.PurchaseOrderLineCustomEntity"
          extends="com.example.sms.infrastructure.datasource.autogen.mapper.発注データ明細Mapper.BaseResultMap">
      <association property="商品マスタ"
                   javaType="com.example.sms.infrastructure.datasource.master.product.ProductCustomEntity"
                   column="商品コード"
                   select="com.example.sms.infrastructure.datasource.master.product.ProductCustomMapper.selectByPrimaryKey"
                   fetchType="eager"
      />
  </resultMap>

  <select id="selectByPurchaseOrderNumber" parameterType="java.lang.String" resultMap="BaseResultMap">
      select
      <include refid="com.example.sms.infrastructure.datasource.autogen.mapper.発注データ明細Mapper.Base_Column_List"/>
      from public.発注データ明細
      where 発注番号 = #{発注番号,jdbcType=VARCHAR}
      order by 発注行番号
  </select>

  <insert id="insert" parameterType="com.example.sms.infrastructure.datasource.autogen.model.発注データ明細">
      insert into public.発注データ明細 (発注番号, 発注行番号, 発注行表示番号,
                                         受注番号, 受注行番号, 商品コード,
                                         商品名, 発注単価, 発注数量,
                                         入荷数量, 完了フラグ, 作成日時,
                                         作成者名, 更新日時, 更新者名)
      values (#{発注番号,jdbcType=VARCHAR}, #{発注行番号,jdbcType=INTEGER}, #{発注行表示番号,jdbcType=INTEGER},
              #{受注番号,jdbcType=VARCHAR}, #{受注行番号,jdbcType=INTEGER}, #{商品コード,jdbcType=VARCHAR},
              #{商品名,jdbcType=VARCHAR}, #{発注単価,jdbcType=INTEGER}, #{発注数量,jdbcType=INTEGER},
              #{入荷数量,jdbcType=INTEGER}, #{完了フラグ,jdbcType=INTEGER}, #{作成日時,jdbcType=TIMESTAMP},
              #{作成者名,jdbcType=VARCHAR}, #{更新日時,jdbcType=TIMESTAMP}, #{更新者名,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.example.sms.infrastructure.datasource.autogen.model.発注データ明細">
      update public.発注データ明細
      set 発注行表示番号 = #{発注行表示番号,jdbcType=INTEGER},
          受注番号 = #{受注番号,jdbcType=VARCHAR},
          受注行番号 = #{受注行番号,jdbcType=INTEGER},
          商品コード = #{商品コード,jdbcType=VARCHAR},
          商品名 = #{商品名,jdbcType=VARCHAR},
          発注単価 = #{発注単価,jdbcType=INTEGER},
          発注数量 = #{発注数量,jdbcType=INTEGER},
          入荷数量 = #{入荷数量,jdbcType=INTEGER},
          完了フラグ = #{完了フラグ,jdbcType=INTEGER},
          作成日時 = #{作成日時,jdbcType=TIMESTAMP},
          作成者名 = #{作成者名,jdbcType=VARCHAR},
          更新日時 = #{更新日時,jdbcType=TIMESTAMP},
          更新者名 = #{更新者名,jdbcType=VARCHAR},
          version = #{version,jdbcType=INTEGER} + 1
      where 発注番号 = #{発注番号,jdbcType=VARCHAR}
      and 発注行番号 = #{発注行番号,jdbcType=INTEGER}
      and version = #{version,jdbcType=INTEGER}
  </update>

  <delete id="deleteByPrimaryKey">
      delete from public.発注データ明細
      where 発注番号 = #{発注番号,jdbcType=VARCHAR}
      and 発注行番号 = #{発注行番号,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByPurchaseOrderNumber" parameterType="java.lang.String">
      delete from public.発注データ明細
      where 発注番号 = #{発注番号,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteAll">
      delete from public.発注データ明細
  </delete>
</mapper>