<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sms.infrastructure.datasource.sales_order.SalesOrderCustomMapper">
  <resultMap
          id="BaseResultMap"
          type="com.example.sms.infrastructure.datasource.sales_order.SalesOrderCustomEntity"
          extends="com.example.sms.infrastructure.datasource.autogen.mapper.受注データMapper.BaseResultMap">
      <collection property="受注データ明細"
                  javaType="ArrayList"
                  column="受注番号"
                  select="com.example.sms.infrastructure.datasource.sales_order.sales_order_line.SalesOrderLineCustomMapper.selectBySalesOrderNumber"
                  fetchType="eager"
        />
  </resultMap>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
      select
      <include refid="com.example.sms.infrastructure.datasource.autogen.mapper.受注データMapper.Base_Column_List"/>
      from public.受注データ
      where 受注番号 = #{受注番号,jdbcType=VARCHAR}
  </select>

    <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="com.example.sms.infrastructure.datasource.autogen.mapper.受注データMapper.Base_Column_List"/>
        from public.受注データ
    </select>
    
    <insert id="insertForOptimisticLock" parameterType="com.example.sms.infrastructure.datasource.autogen.model.受注データ">
        insert into public.受注データ (受注番号, 受注日, 部門コード,
                                       部門開始日, 顧客コード, 顧客枝番,
                                       社員コード, 希望納期, 客先注文番号,
                                       倉庫コード, 受注金額合計, 消費税合計,
                                       備考, 作成日時, 作成者名, 更新日時,
                                       更新者名)
        values (#{受注番号,jdbcType=VARCHAR}, #{受注日,jdbcType=TIMESTAMP}, #{部門コード,jdbcType=VARCHAR},
                #{部門開始日,jdbcType=TIMESTAMP}, #{顧客コード,jdbcType=VARCHAR}, #{顧客枝番,jdbcType=INTEGER},
                #{社員コード,jdbcType=VARCHAR}, #{希望納期,jdbcType=TIMESTAMP}, #{客先注文番号,jdbcType=VARCHAR},
                #{倉庫コード,jdbcType=VARCHAR}, #{受注金額合計,jdbcType=INTEGER}, #{消費税合計,jdbcType=INTEGER},
                #{備考,jdbcType=VARCHAR}, #{作成日時,jdbcType=TIMESTAMP}, #{作成者名,jdbcType=VARCHAR}, #{更新日時,jdbcType=TIMESTAMP},
                #{更新者名,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKeyForOptimisticLock" parameterType="com.example.sms.infrastructure.datasource.autogen.model.受注データ">
        update public.受注データ
        set 受注日 = #{受注日,jdbcType=TIMESTAMP},
            部門コード = #{部門コード,jdbcType=VARCHAR},
            部門開始日 = #{部門開始日,jdbcType=TIMESTAMP},
            顧客コード = #{顧客コード,jdbcType=VARCHAR},
            顧客枝番 = #{顧客枝番,jdbcType=INTEGER},
            社員コード = #{社員コード,jdbcType=VARCHAR},
            希望納期 = #{希望納期,jdbcType=TIMESTAMP},
            客先注文番号 = #{客先注文番号,jdbcType=VARCHAR},
            倉庫コード = #{倉庫コード,jdbcType=VARCHAR},
            受注金額合計 = #{受注金額合計,jdbcType=INTEGER},
            消費税合計 = #{消費税合計,jdbcType=INTEGER},
            備考 = #{備考,jdbcType=VARCHAR},
            作成日時 = #{作成日時,jdbcType=TIMESTAMP},
            作成者名 = #{作成者名,jdbcType=VARCHAR},
            更新日時 = #{更新日時,jdbcType=TIMESTAMP},
            更新者名 = #{更新者名,jdbcType=VARCHAR},
            version = #{version,jdbcType=INTEGER}
        where 受注番号 = #{受注番号,jdbcType=VARCHAR}
        and version = #{version,jdbcType=INTEGER}
    </update>

    <select id="selectByCriteria" resultMap="BaseResultMap">
        select
        <include refid="com.example.sms.infrastructure.datasource.autogen.mapper.受注データMapper.Base_Column_List"/>
        from public.受注データ
        <where>
            <if test="orderNumber != null">
                受注番号 = #{orderNumber,jdbcType=VARCHAR}
            </if>
            <if test="orderDate != null">
                and 受注日 = #{orderDate,jdbcType=TIMESTAMP}
            </if>
            <if test="departmentCode != null">
                and 部門コード = #{departmentCode,jdbcType=VARCHAR}
            </if>
            <if test="departmentStartDate != null">
                and 部門開始日 = #{departmentStartDate,jdbcType=TIMESTAMP}
            </if>
            <if test="customerCode != null">
                and 顧客コード = #{customerCode,jdbcType=VARCHAR}
            </if>
            <if test="customerBranchNumber != null">
                and 顧客枝番 = #{customerBranchNumber,jdbcType=INTEGER}
            </if>
            <if test="employeeCode != null">
                and 社員コード = #{employeeCode,jdbcType=VARCHAR}
            </if>
            <if test="desiredDeliveryDate != null">
                and 希望納期 = #{desiredDeliveryDate,jdbcType=TIMESTAMP}
            </if>
            <if test="customerOrderNumber != null">
                and 客先注文番号 = #{customerOrderNumber,jdbcType=VARCHAR}
            </if>
            <if test="warehouseCode != null">
                and 倉庫コード = #{warehouseCode,jdbcType=VARCHAR}
            </if>
            <if test="remarks != null">
                and 備考 = #{remarks,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectAllNotComplete" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="com.example.sms.infrastructure.datasource.autogen.mapper.受注データMapper.Base_Column_List"/>
        from public.受注データ
        where 受注番号 in (select 受注番号 from public.受注データ明細 where public.受注データ明細.完了フラグ = #{value})
    </select>
</mapper>
