<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sms.infrastructure.datasource.sales.sales_line.SalesLineCustomMapper">

    <resultMap
            id="BaseResultMap"
            type="com.example.sms.infrastructure.datasource.sales.sales_line.SalesLineCustomEntity"
            extends="com.example.sms.infrastructure.datasource.autogen.mapper.売上データ明細Mapper.BaseResultMap">
        <association property="商品マスタ"
                     javaType="com.example.sms.infrastructure.datasource.master.product.ProductCustomEntity"
                     column="商品コード"
                     select="com.example.sms.infrastructure.datasource.master.product.ProductCustomMapper.selectByPrimaryKey"
                     fetchType="eager" />
    </resultMap>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="com.example.sms.infrastructure.datasource.autogen.mapper.売上データ明細Mapper.Base_Column_List" />
        from public.売上データ明細
    </select>

    <select id="selectBySalesNumber" resultMap="BaseResultMap">
        select
        <include refid="com.example.sms.infrastructure.datasource.autogen.mapper.売上データ明細Mapper.Base_Column_List" />
        from public.売上データ明細
        where 売上番号 = #{salesNumber, jdbcType=VARCHAR}
    </select>

    <delete id="deleteBySalesNumber" parameterType="java.lang.String">
        delete from public.売上データ明細
        where 売上番号 = #{salesNumber, jdbcType=VARCHAR}
    </delete>

</mapper>