<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sms.infrastructure.datasource.master.partner.customer.shipping.ShippingCustomMapper">
  <resultMap
          id="BaseResultMap"
          type="com.example.sms.infrastructure.datasource.master.partner.customer.shipping.ShippingCustomEntity"
          extends="com.example.sms.infrastructure.datasource.autogen.mapper.出荷先マスタMapper.BaseResultMap"
  >
  </resultMap>

  <select id="selectByPrimaryKey" parameterType="com.example.sms.infrastructure.datasource.autogen.model.出荷先マスタKey" resultMap="BaseResultMap">
    select
    <include refid="com.example.sms.infrastructure.datasource.autogen.mapper.出荷先マスタMapper.Base_Column_List" />
    from public.出荷先マスタ
    where 顧客コード = #{顧客コード,jdbcType=VARCHAR}
      and 出荷先番号 = #{出荷先番号,jdbcType=INTEGER}
      and 顧客枝番 = #{顧客枝番,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="com.example.sms.infrastructure.datasource.autogen.mapper.出荷先マスタMapper.Base_Column_List" />
    from public.出荷先マスタ
  </select>

  <select id="selectByCustomerCode" resultMap="BaseResultMap">
      select
      <include refid="com.example.sms.infrastructure.datasource.autogen.mapper.出荷先マスタMapper.Base_Column_List" />
      from public.出荷先マスタ
      where 顧客コード = #{顧客コード,jdbcType=VARCHAR}
        and 顧客枝番 = #{顧客枝番,jdbcType=INTEGER}
  </select>

  <delete id="deleteByCustomerCode" parameterType="java.lang.String">
    delete from public.出荷先マスタ
    where 顧客コード = #{顧客コード,jdbcType=VARCHAR}
  </delete>
</mapper>