name: Node.js CI with Npm in frontend directory

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
      working-directory: app/frontend
    - run: npm run build --if-present
      working-directory: app/frontend

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js latest
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: 'npm'
      - run: npm ci
        working-directory: app/frontend
      - run: npm test
        working-directory: app/frontend

  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'oracle'
      - name: Grant execute permission for Gradle wrapper
        run: chmod +x ./gradlew
        working-directory: app/backend/api
      - name: Build with Gradle in api directory
        run: ./gradlew build -x test
        working-directory: app/backend/api
      - name: Run with Gradle in api directory
        run: ./gradlew bootRun &
        working-directory: app/backend/api

      - name: Use Node.js latest
        uses: actions/setup-node@v4
        with:
          node-version: latest
          cache: 'npm'
      - run: npm ci
        working-directory: app/frontend
      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          build: npm run build
          start: npm run dev
          wait-on: "http://localhost:5173"
          working-directory: app/frontend
